header {
  background-color: blue;
  height: 10vh;
  text-align: center;
}
div {
  background-color: whitesmoke;
  height: fit-content;
  padding: 80px;
}
footer {
  background-color: blue;
  height: 10vh;
  text-align: justify;
}
